<header>
	<div class="hero">
		<section class="layout">
		</section>
	</div>

	<div class="navigation">
		<section class="layout">
			<ul class="nav">
			<li><a href="/"><i class="icon-home"></i> Home</a></li>
			<li><a href="/books"><i class="icon-book"></i> Books</a></li>
			</ul>
		</section>
	</div>
</header>

