
<article class="speakerslist">
  <section class="layout">
    <div class="speakers">
        <article class="artist group">
          <h3><%= books[1].title %> <span class="small">by
          <%= books[1].author %>
          </span></h3>
          <p><img class="speaker" src="../../../../images/misc/<%= books[1].image %>" alt="Photo of <%= books[1].author %>"></a></p>
        </article>
    </div>
  </section>
</article>
